#ABOUT{
    background-color: rgb(10,25,47);
    height: 600px;

}

.top-heading{
    margin:40px auto;
    display:flex;
    text-align: center;
    flex-direction: column;
}

.mabout{
    display: flex;
    flex-direction: row;
    color:rgb(99,252,216);
    font-size: 25px;
    text-align: justify;
}

.inspera{
    padding-left: 50px;
    padding-right: 50px;
    width: 800px;
    
}

.inspera p{
    font-family: "Open Sans";
}

.mphoto{
    padding-top: 30px;
}

.top-heading h1{
    /* padding-bottom: 50px; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(204,214,246);
}